<div class="page__bd healthRecord" style="height: 100%;" id="healthRecord">
    <div class="health-info">
        <img class="avatar" src="<%=require('../../../images/icon/医生.png')%>" alt="">
        <p class="name-line"><span class="name"><%=data.name%></span><span class="relation">(<%=data.relation%>)</span></p>
        <p class="age-line"><span class="sex"><%=data.sex%></span><span class="age"><%=data.age%></span></p>
       <span class="arrow"></span>
    </div>
    <div class="weui-tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item weui-bar__item_on" data-id="health-infomation">
                个人资料
            </div>
            <div class="weui-navbar__item" data-id="health-habit">
                生活习惯
            </div>
            <div class="weui-navbar__item" data-id="medicalRecord">
                专属病历
            </div>
        </div>
        <div class="weui-tab__panel">
            <div class="health-infomation weui-tab__panel_item" id="health-infomation">
                    <div class="weui-cells">
                            <div class="weui-cell" id="chooseHeight">
                                <div class="weui-cell__bd">
                                    <p>身高</p>
                                </div>
                                <div class="weui-cell__ft" id="height">请选择</div>
                            </div>
                            <div class="weui-cell" id="chooseWeight">
                                    <div class="weui-cell__bd">
                                        <p>体重</p>
                                    </div>
                                    <div class="weui-cell__ft" id="weight">请选择</div>
                            </div>
                            <div class="weui-cell" id="isMarried">
                                    <div class="weui-cell__bd">
                                        <p>婚姻</p>
                                    </div>
                                    <div class="weui-cell__ft" id="marry">请选择</div>
                            </div>
                    </div>
                    <div class="weui-cells">
                        <div class="weui-cell" id="sensitiveHistory">
                            <div class="weui-cell__bd">
                                <p>是否有过敏史</p>
                            </div>
                            <div class="weui-cell__ft" id="sensitive">请选择</div>
                        </div>
                    </div>
            </div>
            <div class="health-habit weui-tab__panel_item" style="display:none;" id="health-habit">
                    <div class="weui-cells">
                            <div class="weui-cell" id="isSmoking">
                                <div class="weui-cell__bd">
                                    <p>抽烟</p>
                                </div>
                                <div class="weui-cell__ft" id="smoke">请选择</div>
                            </div>
                            <div class="weui-cell" id="isDrinking">
                                    <div class="weui-cell__bd">
                                        <p>饮酒</p>
                                    </div>
                                    <div class="weui-cell__ft" id="drink">请选择</div>
                            </div>
                            <div class="weui-cell" id="isEatingNormal" data-tag="0">
                                    <div class="weui-cell__bd">
                                        <p>饮食是否规律</p>
                                    </div>
                                    <div class="weui-cell__ft" id="0">请选择</div>
                            </div>
                            <div class="weui-cell" id="isSleepingNormal" data-tag="1">
                                    <div class="weui-cell__bd">
                                        <p>睡眠是否规律</p>
                                    </div>
                                    <div class="weui-cell__ft" id="1">请选择</div>
                            </div>
                            <div class="weui-cell" id="isIncontinenceNormal" data-tag="2">
                                    <div class="weui-cell__bd">
                                        <p>大小便是否正常</p>
                                    </div>
                                    <div class="weui-cell__ft" id="2">请选择</div>
                            </div>
                            <div class="weui-cell" id="isAnodyneNormal" data-tag="3">
                                    <div class="weui-cell__bd">
                                        <p>是否长期服用止痛药或镇定催眠药</p>
                                    </div>
                                    <div class="weui-cell__ft" id="3">请选择</div>
                            </div>
                    </div>
            </div>
            <div id="medicalRecord" class="medicalRecord" style="display:none">
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>孕产信息</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>健康历史</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                </div>
                <div class="weui-cells__title">我的病程</div>
                <div class="bingcheng"></div>
            </div>
        </div>
    </div>
</div>
