<!-- 搜索 -->
<div class="search_nav">
    <span class="searchIcon"></span>
    <input type="search" placeholder="医生 疾病 医院 科室" autocomplete="off"> 
    <a href="javascript:;" class="message">
        <img src=<%=(require('../../images/WXX.png'))%> alt="">
        <span class="messageCount"></span>
    </a>
</div>

<!-- 轮播图 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <% for(var i = 0;i<banners.length;i++){%>
        <img src="<%=banners[i].img%>" alt=`${banners[i].link}` class="swiper-slide">
        <% } %>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<!-- 找医生 去挂号 -->
<div class="service">
    <div id="searchDoctor">
        <p><img src="<%=require('../../images/home_zhaoyisheng.png')%>" alt=""><span class="title">找医生</span></p>
        <p class="desc">查擅长 · 看评价 · 选医生</p>
    </div>
    <span class="line"></span>
    <div>
        <p><img src="<%=require('../../images/home_quguahao.png')%>" alt=""><span class="title">去挂号</span></p>
        <p>全国<span class="doctorCount">34559</span>名知名专家</p>
    </div>
</div>

<!-- 在线问诊 -->
<div class="consultOnline">
    <div class="category">－ 在线问诊 －</div>
    <div class="consult">
        <div>
            <p class="title">免费问诊</p>
            <p class="desc">18万名医生在线</p>
        </div>
        <div>
            <p class="title">名医问诊</p>
            <p class="desc">可指定专家问诊</p>
        </div>
    </div>
    <div class="phoneOrVideo">
        <div>
            <p class="title">极速电话</p>
            <p class="desc">三甲医院医生</p>
        </div>
        <div>
            <p class="title">名医电话</p>
            <p class="desc">可指定专家通话</p>
        </div>
        <div>
            <p class="title">远程门诊</p>
            <p class="desc">可指定专家视频</p>
        </div>
    </div>
</div>

<!-- 线下问诊 -->
<div class="consult">
    <div>
        <p class="title">开药门诊</p>
        <p class="desc">快速开药·免费配送</p>
    </div>
    <div>
        <p class="title">小手术套餐</p>
        <p class="desc">口腔·眼科·美容·男科</p>
    </div>
    <div>
        <p class="title">私人医生</p>
        <p class="desc">育儿·孕产·心理·老年慢病</p>
    </div>
    <div>
        <p class="title">VIP通道</p>
        <p class="desc">绿色通道·看病不求人</p>
    </div>
</div>
<!-- 热门门诊 -->
<div class="hot">
    <div class="nav"><span>热门门诊</span><a href="javascript:;">查看全部</a></div>
    <div class="category">
        <div><p>口腔门诊</p><img src="<%=(require('../../images/icon/胶囊.png'))%>" alt=""></div>
        <div><p>性病门诊</p><img src="<%=(require('../../images/icon/救护车.png'))%>" alt=""></div>
        <div><p>皮肤病门诊</p><img src="<%=(require('../../images/icon/报告单.png'))%>" alt=""></div>
        <div><p>整形门诊</p><img src="<%=(require('../../images/icon/文件夹.png'))%>" alt=""></div>
        <div><p>生殖中心</p><img src="<%=(require('../../images/icon/量杯.png'))%>" alt=""></div>
        <div><p>心血管门诊</p><img src="<%=(require('../../images/icon/急救箱.png'))%>" alt=""></div>
    </div>
</div>
<!-- 精选好文 -->
<div class="goodArticle">
    <div class="nav"><span>精选好文</span><a href="javascript:;">查看全部</a></div>
    <div class="content">
        <div>
            <p class="title">肿瘤预防与早诊治之道--透视生活，远离癌症(大肠癌篇)</p>
            <p class="desc"><span>图文</span><span class="total">274</span>人已购买  100%好评</p>
        </div>
        <div>
            <p class="title">肿瘤预防与早诊治之道--透视生活，远离癌症(大肠癌篇)</p>
            <p class="desc"><span>图文</span><span class="total">274</span>人已购买  100%好评</p>
        </div>
        <div>
            <p class="title">肿瘤预防与早诊治之道--透视生活，远离癌症(大肠癌篇)</p>
            <p class="desc"><span>图文</span><span class="total">274</span>人已购买  100%好评</p>
        </div>
        <div>
            <p class="title">肿瘤预防与早诊治之道--透视生活，远离癌症(大肠癌篇)</p>
            <p class="desc"><span>图文</span><span class="total">274</span>人已购买  100%好评</p>
        </div>
    </div>
</div>

<!-- TabBar -->
<div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
        <span style="display: inline-block;position: relative;">
            <img src= <%=(require('../../images/SY-hover.png'))%> alt="" class="weui-tabbar__icon">
            <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </span>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="#doctor" class="weui-tabbar__item">
        <img src=<%=(require('../../images/YS.png'))%> alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">找医生</p>
    </a>
    <a href="#knowledge" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <img src=<%=(require('../../images/GYJT.png'))%> alt="" class="weui-tabbar__icon">
            <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
        </span>
        <p class="weui-tabbar__label">知识</p>
    </a>
    <a href="#mine" class="weui-tabbar__item">
        <img src=<%=(require('../../images/WD.png'))%> alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我</p>
    </a>
</div>