
<div class="container"><div class="doctor-nav"><span class="title">找医生</span></div></div>
<div><input type="search" placeholder="疾病 医生 科室 医院"></div>
<!-- 按照疾病和医院查找 -->
<div class="category">
    <div class="disease">
        <img src="<%=require('../../images/icon/胶囊.png')%>" alt="">
        <p class="title">按疾病找</p>
        <p class="desc"></p>
    </div>
    <div class="hospital">
        <img src="<%=require('../../images/icon/救护车.png')%>" alt="">
        <p class="title">按医院找</p>
        <p class="desc"></p>
    </div>
</div>
<!-- 按科室分类-->
<% for(var i = 0;i<faculty.length;i++){%>
<div class="department">
    <div class="nav">
        <img src=<%=icons[i]%> alt="">
        <span class="title"><%=faculty[i].name%></span>
        <span class="desc">(<%=faculty[i].doctorCount%>位医生)</span>
    </div>
    <div class="depart-category">
        <% for(var j = 0; j<faculty[i].secondList.length;j++){%>
            <div class="depart" data-section='<%=i%>' data-row='<%=j%>' ><%=faculty[i].secondList[j].name%></div>
        <%}%>
        <div>更多></div>
    </div>
</div>
<% } %>

<div class="weui-tabbar">
    <a href="#home" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <img src= <%=(require('../../images/SY.png'))%> alt="" class="weui-tabbar__icon">
            <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </span>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
        <img src=<%=(require('../../images/YS-hover.png'))%> alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">找医生</p>
    </a>
    <a href="#knowledge" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <img src=<%=(require('../../images/GYJT.png'))%> alt="" class="weui-tabbar__icon">
            <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
        </span>
        <p class="weui-tabbar__label">知识</p>
    </a>
    <a href="#mine" class="weui-tabbar__item">
        <img src=<%=(require('../../images/WD.png'))%> alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我</p>
    </a>
</div>